*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:"Poppins", sans-serif;
}

#header{
    width:100%;
    padding:20px;
    background:#FFFFFF;
    display:flex;
    justify-content:center;
    align-items:center;
}

.header-conteiner{
    width:90%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo-ul{
    display:flex;
    gap:30px;
}

.header-link{
    width:40%;
    list-style:none;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-left:30px;
    margin-top:10px;
    gap:50px;
}

.menu-bar{
    display:none;
}

.header-link>li>a{
    text-decoration:none;
    color:#000000;
    font-size:20px;
    font-family:Poppins;
    font-weight:500;
}

.header-link>li>a:hover{
    width:100%;
    background:#000000;
    color:#FFF;
}

.button-div{
    width:20%;
    display:flex;
    align-items:center;
    gap:30px;
}

.button-login{
    width:101px;
    height:33px;
    border:solid 1px #000000;
    border-radius:15px;
    background:#FFFFFF;
    color:#000000;
    font-size:15px;
    font-family:Poppins;
    font-weight:500;
    cursor:pointer;
}

.button-join{
    width:177px;
    height:39px;
    border:solid 1px #000000;
    border-radius:15px;
    background:#000000;
    color:#FFFFFF;
    font-size:18px;
    font-family:Poppins;
    font-weight:500;
    cursor:pointer;
}

.section-education{
    width:100%;
    padding:30px;
    background:#FFFFFF;
    display:flex;
    justify-content:center;
    align-items:center;
}

.conteiner-education{
    width:90%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.education-text-div{
    width:800px;   
}

.h1-education-text{
    color:#000000;
    font-size:50px;
    font-family:Poppins;
    font-weight:800;
}

.paragraf-education{
    color:#000000;
    font-size:15px;
    font-family:Poppins;
    font-weight:400;
    margin-top:20px;
}

.button-get-free{
    width:300px;
    height:52px;
    border:solid 1px #000000;
    background:#000000;
    border-radius:15px;
    color:#FFF;
    font-size:22px;
    font-family:Poppins;
    font-weight:400;
    cursor:pointer;
    margin-top:20px;
}

.section-popular{
    width:100%;
    padding:30px;
}

.container-popular{
    width:90%;
    display:flex;
    justify-content:space-between;
    margin:0 auto;
}

.h3-our-most-popular-text{
    color:#000000;
    font-size:35px;
    font-family:Poppins;
    font-weight:500;
    padding-left:120px;
    padding-top:40px;
}

.paragraf-our-popular{
    color:#000000;
    font-size:15px;
    font-family:Poppins;
    font-weight:500;
    padding-left:120px;
    padding-top:20px;
}

.post-card{
    margin-top:20px;
}

.footer{
    width:100%;
    padding:50px;
    background:#001642;
    display:flex;
    justify-content:center;
    align-items:center;
}

.conteiner-footer{
    width:90%;
    display:flex;
    justify-content:space-between;
}

.footer-logo-img-div{
    margin-left:20px;
}

.footer-contact{
    display:flex;
    justify-content:space-between;
    margin-left:40px;
}

.paragraf-footer{
    color:#EAECF0;
    font-size:14px;
    font-family:Poppins;
    font-weight:500;
    margin-top:20px;
}

.contact-div{
    width:184px;
}

.paragraf-contact{
    color:#97A1B2;
    font-size:18px;
    font-family:Poppins;
    font-weight:500;
}
.paragraf-contact{
    font-size:13px;

}
.h5-contact-text{
    color:#FFFF;
    font-size:18px;
    font-family:Poppins;
    font-weight:500;
    margin-top:15px;
}